@import '../../../../styles/mixins';

.nav {
  .lists {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    font-size: 18px;

    @include md {
      gap: 20px;
    }

    .list,
    .link {
      transition: all 0.4s ease;

      &:hover {
        scale: 1.05;
      }
    }

    @include lg {
      font-size: 16px;
    }

    @include md {
      font-size: 15px;
    }

    @include sm {
      flex-direction: column;
      font-size: 16px;
    }
  }
}
