@import '../../styles/mixins';

.header {
  overflow: hidden;
  position: relative;
  z-index: 300;
  height: 100vh;

  .desktop {
    @include md {
      display: flex;
      flex-direction: column-reverse;
      border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    }
  }

  .mobile {
    display: none;

    @include md {
      display: block;
    }

    .burger {
      width: 50px;
      height: 50px;
      z-index: 200;
      top: 30px;
      right: 0;
      position: absolute;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        scale: 1.05;
      }
    }

    .menu {
      display: block;
      position: absolute;
      top: 0;
      right: -50%;
      height: 100vh;
      background-color: black;
      color: white;
      width: 50%;
      transition: all 1s ease;
      z-index: 100;

      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .active {
      right: 0;
    }
  }
}
