@import '../../styles/mixins';

.about-us-block {
  .top,
  .bottom {
    display: flex;
    align-items: center;
    gap: 50px;

    @include md {
      flex-direction: column;
      justify-content: center;
    }

    .img {
      max-width: 493px;
      height: auto;
      display: flex;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .cards {
      margin-right: auto;

      @include md {
        margin-right: 0;
      }
    }
  }

  .bottom {
    flex-direction: row-reverse;
    margin: 100px 0;

    @include md {
      flex-direction: column;
    }
  }
}
